---
extends: default

ignore: |
  roles/
  collections/

rules:
  line-length: disable
  indentation:
    spaces: 2
    indent-sequences: true
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-explicit-octal: true
  comments-indentation: false
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
